@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(158, 193, 194);
}
#pad {
  margin: 15px;
}
h1 {
  font-size: 20px;
  color: hsl(218, 62%, 14%);
  margin-bottom: 18px;
  font-weight: 700;
}
p {
  text-transform: capitalize;
  color: black;
  font-weight: 400;
}
.outer {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
img {
  border-radius: 10px;
  display: block;
  max-width: 100%;
  object-fit: cover;
}
